@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {

    --font-oxanium: "Oxanium", sans-serif;
}

.glass {
    position: relative;
    overflow: hidden;

    color: white;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 1rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);

    text-shadow:
            0 1px 2px rgba(0, 0, 0, 0.7),
            0 0 4px rgba(0, 0, 0, 0.35);
}

.glass::before {

    content: "";
    position: absolute;
    inset: 0;

    pointer-events: none;
}

.glass::after {
    content: "";
    position: absolute;
    inset: 0;

    border-radius: inherit;
    border: 1px solid rgba(255, 255, 255, 0.07);

    pointer-events: none;
}